body{
    font-family: 'Poppins',sans-serif;
    line-height: 25px;
    background: linear-gradient(135deg ,#aeacac 0%, #d3d2d2 100%);
}
h1,h2,h3{
    font-family: 'Montserrat',sans-serif;
}
.navbar{
    background: linear-gradient(135deg, #000000 0%, #212121 50%, #000000 60% );
}
#color-grid{
    background: linear-gradient(135deg, #000000 0%, #212121 70%);
    transition: all 0.3s ease;
}
.card{
    background: linear-gradient(135deg, #000000 0%, #212121 70%);
    transition: all 0.4s ease;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
#color-grid:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.nav-link{
    font-size: 1.1rem;
}
i{
    font-size: 28px;
    color: #000000;
}
i:hover{
    color: #8f8c8c;
}