{% extends "base.html" %}

{% block content %}
<section class="container py-5">
    <h1>My Projects</h1>
    <p>Here are some project i have worked on:</p>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-3 py-5">
        {% for project in student.projects %}
        <div class="col">
            <div class="card h-100 rounded-4 shadow-lg text-left bg-black text-light">
                <div class="card-body">  
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    {% for tech in project.tech %}
                        <span class="btn btn-outline-light btn-sm rounded-3">{{tech}}</span>
                    {% endfor %}<br><br>
                    <a href="{{project.github}}" target="_blank" class="btn btn-light ">View on github</a>  
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}